:root {
  background: radial-gradient(circle at 50% 10%, #1e1e33 0%, #0d0d11 100%);  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

h1, h2 {
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif; 
  color: white
}

p {
  margin: 0;
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif; 
  
}



